body {
    font-family: 'Coolvetica';
    background: linear-gradient(#ffe6e6, #ffb1b6, 40%, #e66771, 91%, #d20808);
}

#calendar {
    margin: 0 auto;
    padding: 20px;
    color: black !important;
}

.fc-h-event {
    background-color: #D63542;
    border: 1px solid #D63542;
    display: block;
}

.fc-col-header-cell-cushion{
    color: black !important;
    font-weight: lighter;
    font-size: larger;
}

.fc-daygrid-day-number {
    color: black !important;
}

@font-face {
    font-family: 'Coolvetica';
    src: url("../fonts/Coolvetica_Rg.otf");
}

.fc-view-harness {
    background-color: #ffe6e6;
}

.fc .fc-button-primary {
    background-color: #D63542;
    border: 1px solid #D63542;
    color: #ffe6e6;
}

.fc:hover .fc-button-primary:hover{
    background-color: #ffe6e6;
    border: 1px solid #ffe6e6;
    color: #D63542;
}

a {
    text-decoration: none !important;
    font-family: "Coolvetica";
}

@media (max-width: 768px) {
    #calendar {
        min-height: 535px;
    }
}
@media (min-width: 769px) {
    #calendar {
        max-height: auto;
        max-width: 900px;
    }
}